<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{BaseURL+dish.image}}" alt={{dish.name}}>
      <md-card-content>
        <p>
          {{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </md-card-actions>
    </md-card>
    <div [hidden]="dish || errMess">
      <md-spinner></md-spinner> <h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" fxLayout="column" [@visibility]="visibility" [@expand]>
    <md-list fxFlex>
    	<h2>Comments</h2>
    	<md-list-item *ngFor="let commentobj of dish.comments">
    		<p md-line>{{commentobj.comment}}</p>
    		<p md-line>{{commentobj.rating}} stars</p>
    		<p md-line>--{{commentobj.author}}, {{commentobj.date | date}}</p>
    	</md-list-item>
      <md-list-item *ngIf="!ratingForm.invalid">
        <p md-line>{{newComment.comment}}</p>
        <p md-line>{{newComment.rating}} stars</p>
        <p md-line>--{{newComment.author}}, {{newComment.date | date}}</p>
      </md-list-item>
    </md-list>
    <br>
    <form novalidate fxLayout="column" [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
      <md-input-container dividerColor="{{formErrors.author ? 'warn' : 'primary'}}">
        <input mdInput formControlName="author" placeholder="Name" type="text" [(ngModel)]="newComment.author" id="authorinput">
        <md-hint>
          <span [hidden]="!(formErrors.author)">
          {{formErrors.author}}</span>
        </md-hint>
      </md-input-container>
        <md-slider mdInput id="slider" min="1" max="5" value="5" step="1" thumbLabel tickInterval="1" [(ngModel)]="newComment.rating" [ngModelOptions]="{standalone: true}"></md-slider>
      <md-input-container dividerColor="{{formErrors.comment ? 'warn' : 'primary'}}">
        <textarea id="commentinput" mdInput formControlName="comment" placeholder="Your Comment" [(ngModel)]="newComment.comment"></textarea>
        <md-hint>
          <span [hidden]="!(formErrors.comment)">
          {{formErrors.comment}}</span>
        </md-hint>
      </md-input-container>
      <br>
      <md-dialog-actions>
        <span class="flex-spacer"></span>
        <button type="submit" md-button class="background-primary text-floral-white" [disabled]="ratingForm.invalid">Submit</button>
      </md-dialog-actions>
    </form>

  </div>

</div>