<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <md-card *ngIf="dish">
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40">
    <md-list fxFlex>
    	<h2>Comments</h2>
    	<md-list-item *ngFor="let commentobj of dish.comments">
    		<p md-line>{{commentobj.comment}}</p>
    		<p md-line>{{commentobj.rating}} stars</p>
    		<p md-line>--{{commentobj.author}}, {{commentobj.date | date}}</p>
    	</md-list-item>
    </md-list>
  </div>

</div>